#title{
    font-family: "Arial Black";
    font-size: 100px;
    text-align: center;
    color: #003366;
}

#hr{
	font-family: "Arial Black";
    font-size: 100px;
    text-align: center;
    color: #003366;
}
